html {
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
body{
    margin-top: 10px;
}
h4,
h2 {
    color: #fff;
    margin-left: 100px;
    margin-top: -150px;
}

#score {
    display: inline-block;
    color: #fff;
}

div {
    font-size: 20px;
}

h4 {
    text-align: left;
    margin: -600px auto 200px 50px;
}

canvas {
    margin: 0 auto 0 265px;
}

#button {
    cursor: pointer;
    margin-left: 120px;
} 