body{
    margin: 45px 600px 0 0;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 1380px auto;
}

h5, h3{
    color: #fff;
    margin: 0 auto;
}
#score {
    display: inline-block;
    color: #fff;
}

div{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
h5{
    text-align: left;
    margin: -500px auto 200px 100px;
}
canvas{
    display: block;
    margin: 0 auto;
}

#button{
    cursor: pointer;
}

