html {
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 10px;
}

h4,
h2 {
    color: #fff;
    font-weight: 400;
}

body {
    margin: 4rem 2rem;
    font-size: 1.8rem;
}

#score {
    display: inline-block;
    color: #fff;
}

.main {
    margin: 0 auto;
    display: flex;
}

canvas {
    display: block;
    margin-left: 4rem;
}

#button {
    cursor: pointer;
}

@media screen and (min-width: 1380px) {
    html {
        font-size: 12px;
    }

    canvas {
        margin-left: 8rem;
    }
}

@media screen and (max-width: 1090px) {
    html {
        font-size: 8px;
    }
}